<a href="https://colab.research.google.com/github/Kunal-Datacoder/Powerbi-/blob/main/Spark5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

from pyspark.sql import SparkSession
from pyspark.sql import Row
import collections


spark = SparkSession.builder.config("spark.sql.warehouse.dir","file:///C:/temp").appName("SparkSQL").getOrCreate()

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
def mapper(line):
  fields = line.split(',')
  return Row(ID=int(fields[0]), name = str(fields[1].encode("utf-8")),age = int(fields[2]),numFriends = int(fields[3]))

In [6]:
lines = spark.sparkContext.textFile("/fakefriends.csv")
people = lines.map(mapper)
lines.top

In [7]:
schemaPeople = spark.createDataFrame(people).cache()
schemaPeople.createOrReplaceTempView("People")

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
queryA = spark.sql("SELECT * FROM people WHERE numFriends > 450")
for rec in queryA.collect():
  print(rec)

Row(ID=3, name="b'Deanna'", age=40, numFriends=465)
Row(ID=18, name="b'Jean-Luc'", age=45, numFriends=455)
Row(ID=28, name="b'Martok'", age=49, numFriends=476)
Row(ID=66, name="b'Geordi'", age=21, numFriends=477)
Row(ID=75, name="b'Morn'", age=40, numFriends=459)
Row(ID=82, name="b'Hugh'", age=57, numFriends=465)
Row(ID=87, name="b'Ezri'", age=31, numFriends=481)
Row(ID=89, name="b'Worf'", age=24, numFriends=492)
Row(ID=90, name="b'Kasidy'", age=33, numFriends=471)
Row(ID=99, name="b'Keiko'", age=69, numFriends=491)
Row(ID=100, name="b'Jean-Luc'", age=61, numFriends=460)
Row(ID=106, name="b'Beverly'", age=18, numFriends=499)
Row(ID=117, name="b'Rom'", age=52, numFriends=487)
Row(ID=132, name="b'Odo'", age=46, numFriends=462)
Row(ID=145, name="b'Leeta'", age=45, numFriends=470)
Row(ID=170, name="b'Jean-Luc'", age=68, numFriends=490)
Row(ID=175, name="b'Will'", age=38, numFriends=459)
Row(ID=176, name="b'Worf'", age=55, numFriends=474)
Row(ID=183, name="b'Ben'", age=47, numFriends=488)
Row(ID=192, name="b'Jadzia'", age=45, numFriends=497)
Row(ID=200, name="b'Kasidy'", age=21, numFriends=472)
Row(ID=202, name="b'Lwaxana'", age=63, numFriends=469)
Row(ID=206, name="b'Will'", age=21, numFriends=491)
Row(ID=232, name="b'Worf'", age=68, numFriends=481)
Row(ID=237, name="b'Nerys'", age=61, numFriends=469)
Row(ID=244, name="b'Dukat'", age=21, numFriends=471)
Row(ID=265, name="b'Gowron'", age=27, numFriends=471)
Row(ID=266, name="b'Jean-Luc'", age=66, numFriends=496)
Row(ID=273, name="b'Data'", age=51, numFriends=493)
Row(ID=276, name="b'Dukat'", age=54, numFriends=462)
Row(ID=278, name="b'Data'", age=44, numFriends=499)
Row(ID=280, name="b'Nerys'", age=26, numFriends=492)
Row(ID=296, name="b'Data'", age=38, numFriends=454)
Row(ID=319, name="b'Leeta'", age=30, numFriends=476)
Row(ID=325, name="b'Keiko'", age=51, numFriends=492)
Row(ID=344, name="b'Data'", age=30, numFriends=487)
Row(ID=348, name="b'Weyoun'", age=33, numFriends=460)
Row(ID=350, name="b'Nog'", age=55, numFriends=464)
Row(ID=353, name="b'Julian'", age=64, numFriends=499)
Row(ID=397, name="b'Quark'", age=69, numFriends=470)
Row(ID=401, name="b'Jean-Luc'", age=42, numFriends=467)
Row(ID=408, name="b'Dukat'", age=62, numFriends=496)
Row(ID=412, name="b'Jadzia'", age=53, numFriends=451)
Row(ID=424, name="b'Keiko'", age=55, numFriends=470)
Row(ID=430, name="b'Geordi'", age=36, numFriends=493)
Row(ID=444, name="b'Keiko'", age=18, numFriends=472)
Row(ID=454, name="b'Weyoun'", age=52, numFriends=456)
Row(ID=455, name="b'Elim'", age=33, numFriends=463)
Row(ID=456, name="b'Ezri'", age=37, numFriends=471)
Row(ID=464, name="b'Beverly'", age=25, numFriends=485)
Row(ID=484, name="b'Leeta'", age=22, numFriends=478)

In [10]:
schemaPeople.groupBy("age").count().orderBy("age").show()
spark.stop()

+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
| 23|   10|
| 24|    5|
| 25|   11|
| 26|   17|
| 27|    8|
| 28|   10|
| 29|   12|
| 30|   11|
| 31|    8|
| 32|   11|
| 33|   12|
| 34|    6|
| 35|    8|
| 36|   10|
| 37|    9|
+---+-----+
only showing top 20 rows